<!DOCTYPE html>
<html lang="hun">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lakas kereso</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/public/stilus.css">
</head>
<body>
    <div id="keret">
        <h1>Otthon, édes otthon</h1>
        <h2>Részletes információk a lakásról:</h2>
        
        <div class="reszletek">
    <% if (lakas) { %>
        <p><strong>Felhasználó:</strong> <%= lakas.felhasznaloNev %></p>
        <p><strong>ID:</strong> <%= lakas._id %></p>
        <p><strong>Város:</strong> <%= lakas.varos %></p>
        <p><strong>Negyed:</strong> <%= lakas.negyed %></p>
        <p><strong>Terület:</strong> <%= lakas.terulet %> m²</p>
        <p><strong>Ár:</strong> <%= lakas.ar %> €</p>
        <p><strong>Szobák száma:</strong> <%= lakas.szoba %></p>
    <% } else { %>
    <% } %>
</div>
        <h2>Kép feltöltése a lakáshoz:</h2>
        <%if (typeof hiba !== 'undefined') { %>
            <p style="color:red;"><%= hiba %></p>
        <%} else {%>
            <form id="uploadForm" action="/kep_feltoltes" method="POST" enctype="multipart/form-data">
                <p>Kép(max 2MB): <input type="file" name="file" accept="image/*"></p>
                <input type="hidden" name="id" value="<%= lakas._id %>">
                <button type="submit" value="Feltöltés">Kép feltöltése</button>
            </form>
            <% } %>
            <form id="gombForm" action="/kereses" method="GET">
                <button type="submit">Vissza a kereséshez</button>
            </form>

        </div>
    <footer>
        <p>© 2025 Ingatlanpont. Minden jog fenntartva.</p>
        <p>Készítette: Szász István</p>
        <p>Feladat - Lab5 - Full Stack Web Application</p>
    </footer>
</body>
</html>