<!DOCTYPE html>
<html lang="hun">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hirdetes letrehozo</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/public/stilus.css">
</head>
<body>
    <div id="keret">
        <h1>Otthon, édes otthon</h1>
        <%- include('../partials/_userInfo') %>

            <p id="visszajelzes"><%= locals.hiba %></p>
        <form id="uploadForm" action="/letrehozas" method="POST">
            <p>Hirdetést létrehozó felhasználó:
                <strong><%= locals.nev %></strong>
            </p>
            <input type="hidden" name="felhasznaloNev" value="<%= locals.nev %>">
            <p>Lakás címe (város): <input type="text" name="varos"></p>
            <p>Lakás címe (negyed): <input type="text" name="negyed"></p>
            <p>Felszínterületét: <input type="number" name="terulet" min="0"></p>
            <p>Ára: <input type="number" name="ar" min="0"></p>
            <p>Szobák száma: <input type="number" name="szoba" min="0"></p>
            <button type="submit" value="Feltöltés">Hirdetés létrehozása</button>
        </form>
        <form class="gombForm" action="/ujratoltes" method="GET">
            <button type="submit">Vissza a kereséshez</button>
        </form>

    </div>
    <%- include('../partials/_footer') %>
</body>
</html>